/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30.12.2020, 21:48:39
    Author     : serik
*/
@font-face{
    font-family:"Christmas Reign PERSONAL";
    src:url("ChristmasReign_PERSONAL_USE.ttf");
}
.root{
    -fx-background-color:linear-gradient(to top, white, #0033cc, #0033cc, #0099ff);    
}
.tb{
    -fx-background-color:#66ccff;
    -fx-font-size:24;
    -fx-font-family:PFPixelscriptPro;
    -fx-text-fill:white; 
    -fx-prompt-text-fill:white;
}
.label{
    -fx-font-size:90;
    -fx-font-family:"Christmas Reign PERSONAL";
    -fx-text-fill:white;
    -fx-background-color:transparent;
}